<aside class="aside navbar navbar-expand-lg navbar-light bg-light vh-100 py-4 position-fixed top-0">
    <div class="container-fluid flex-column align-items-start h-100 px-0">
        <div>
            <a class="navbar-brand mb-4 px-3" href="#"><img src="../assets/images/logo-ANSWER.svg" alt=""></a>
            <ul class="navbar-nav flex-column">
                <li class="nav-item mb-4">
                <a class="nav-link fw-bold px-3 link-dark" aria-current="page" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                    analytics
                    </span>
                    Dashboard
                </a>
                </li>
                <li class="nav-item mb-4">
                <a class="nav-link fw-bold px-3 link-dark" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                    quiz
                    </span>
                    Question
                    </a>
                </li>
                <li class="nav-item mb-4">
                <a class="nav-link fw-bold px-3 active border-start border-3 border-success text-success" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                    assignment
                    </span>
                    Assignment</a>
                </li>
                <li class="nav-item mb-4">
                <a class="nav-link fw-bold px-3 link-dark" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                    video_library
                    </span>
                    Course</a>
                </li>
                <li class="nav-item mb-4">
                <a class="nav-link fw-bold px-3 link-dark" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                    supervisor_account
                    </span>
                    Admin</a>
                </li>
                <li class="nav-item mb-4">
                <a class="nav-link fw-bold px-3 link-dark" href="#">
                    <span class="material-symbols-outlined align-bottom me-3">
                    settings
                    </span>
                    Settings</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center px-2">
            <div class="flex-shrink-0">
            <img src="../assets/images/andychen.jpeg" alt="andyPhoto" class="rounded-circle object-fit-cover" width="48" height="48">
            </div>
            <div class="flex-grow-1 ms-3">
                <p class="fw-bold">Andy Chen</p>
                <a href="mailto:andy0401@mail.com" class="text-secondary">andy0401@mail.com</a>
            </div>
        </div>
    </div>
</aside>